.site-header{
    background-color: #b7ae9f42;
}
.navbar{
    display: flex;
    justify-content: space-between;
    flex-flow: row nowrap;
    padding: 0.5rem 1rem;
    width: 100%;
}
.site-header .nav-brand{
    display: flex;
    justify-content: center;
    align-items: center; 
    font-size: 1.125rem;
}
.main-menu .nav-item{
    padding: 18px;
    font-size: 20px;
    line-height: 26px;
    cursor: pointer;
    text-transform: lowercase;

}

.nav-item a:visited,.nav-item a:link,.nav-item a:active{
    color: initial;
}



.main-menu{
    display: flex;
}
.bg-fade {
    background-image: url(../assets/images/city.jpg);
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    z-index: -100;
    opacity: 25%;
    background-size: cover;
}
.bg-base {
    background-color: rgb(211 211 211 / 89%);
    /* background-position: center; */
    /* background-repeat: no-repeat; */
    /* background-attachment: fixed; */
    width: 100%;
    height: 100vh;
    position: fixed;
    /* top: 0; */
    z-index: -1000;
    /* opacity: 10%; */
    /* background-size: cover;*/
}

.hero-content {
    text-align: center;
    padding-top: 1.5rem;
    border-bottom: solid thin rgb(211 211 211 / 89%);
}
.header-brand{
    letter-spacing: 8px;
    text-transform: uppercase;
    font-size: 30px;
    font-weight: 400;
}
.welcome-banner{
    text-align: center;
    margin-top: 150px;
}
.hero-nav {
    display: flex;
    flex-wrap: wrap;
    padding: 1.5rem 0;
    justify-content: center;
}
.sort-by {
    margin: 0;
    font-weight: 400;
    padding: 0;
    max-width: 300px;
    margin: auto;
    justify-content: space-evenly;
    font-size: 14px;
    padding-bottom: 14px;
}
.hero-nav .category-link {
    padding: 0 1rem;
    font-size: 16px;
    line-height: 1.6;
    letter-spacing: 1.63px;
    font-weight: 700;
}
.category-link:hover,
.sort-link:hover {
    cursor: pointer;
}


#products-grid {
    display: flex;
    flex-wrap: wrap;
    padding: 3rem 1rem;
    justify-content: center;
    max-width: 1400px;
    width: 100%;
    margin: 0 auto;
}

.cart-btn{
    display: inline-flex;
}

.remove-cart{
    display: none;
    background-color: transparent;
    border: none;
    margin: auto;
}
.product-card{
    text-align: center;
    background: var(--white);
    color: var(--color-text-base);
    width: 100%;
    margin: 0 1rem 1.85rem;
    padding: 2.5rem;
    border-radius: 24px;
    box-shadow: 0 22px 34px rgb(22 28 45 / 18%);
    /* transition: all 300ms ease-in-out; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}



.product-card-item {
    align-items: center;
    justify-content: space-between;
    height: 100%;
    margin: 0px 10px;
}



.product-card-item img{
    width: 100%;
    object-fit: cover;
    border-radius: 8px;
    max-width: 150px;
    margin: 0 auto;
    
}

.product-card :nth-child(1) {
    flex: 1;
}
.product-card :nth-child(2) {
    flex: 1;
}
.product-card :nth-child(3) {
    flex: 2;
}
.product-card :nth-child(4) {
    flex: 1;
}

.description {
    margin-top: 10px;
    font-size: .875rem;
}
.price {
    font-size: 1.5rem;
    font-weight: 500;
    margin-top: 10px;
    font-family: serif;
}
.rating {
    margin-bottom: 10px
}

.fa-solid.fa-star{
    color: #f9be44;
}

